<!DOCTYPE html>
<html>
<head>
	<title>Weather in Chicago</title>
</head>
<body>
	<form action="/weather" method="POST">
    	<input type="text" name="weather" placeholder="Sunny">
    	<input type="text" name="temperature" placeholder="70">
    	<button type="submit">Save</button>
  </form>
</body>
</html>