<!DOCTYPE html>
<html>
<head>
	<title>Get the Current Weather</title>
</head>
<body>
	<form action="/weather" method="POST">
		<input type="text" name="weather" placeholder="Sunny">
		<input type="text" name="temperature" placeholder="70">
	</form>
	<button type="submit">Save</button>
	<button type="submit">Pickles</button>
</body>
</html>